* {
    margin: 0;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 14px; 
    line-height: 200%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 400px;
}

.most-outer-container {
    width: 351px;
    height: 527px;
    background-color: white;
    padding: 30px 15px;
}

img {
    width: 40%;
    margin: 5px 0px;
}

h1 {
    margin: 20px 0px 8px;
    font-size: 29px;
}

p {
    font-size: 17px;
    font-weight: bold;
}

a {
    color:black;
   
}

a:hover { color: blue}


.form-one {
  scale(4.6);
  margin: 30px 5px;
  
}

.form {
   width: 330px;
   height: 40px; 
   border-radius: 10px;
   font-size: 15px;
   border-color: gainsboro;
}

.email {
 margin: 20px 0px;
}

.checkbox {
    display: flex;
    text-align: center;
    margin-top: 2px;
}

.submit-one {
    text-align:center;
}

input[type="submit"]{
   margin:10px 0px;
   width: 345px;
   height: 43px; 
   border-radius: 10px;
   background-color: black;
   color: white;
   font-size: 16px;
 }

 input[type="submit"]:hover {
    cursor: pointer;
 }

 

 a {
    font-size: 16px;
    font-weight: bold;
 }

.desktop-img {
    display: none;
}

 @media only screen and (min-width: 992px) {
    body {
      background-color: lightblue;
      
    }
    .most-outer-container {
        width : 1062px;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: solid;
        }
    
    img {
            width: 40%;
            margin: 5px 0px;
    }

    .submit-one {
        text-align: left;
    }

   .desktop-img {
    display:block;
    width: 60%;
   }


  }